<h1>Listing dark_features</h1>

<table>
  <tr>
    <th>Key</th>
    <th>Enabled</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @dark_features.each do |dark_feature| %>
  <tr>
    <td><%= dark_feature.key %></td>
    <td><%= dark_feature.enabled %></td>
    <td><%= link_to 'Show', dark_feature %></td>
    <td><%= link_to 'Edit', edit_dark_feature_path(dark_feature) %></td>
    <td><%= link_to 'Destroy', dark_feature, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Dark feature', new_dark_feature_path %>
